@using BlogSlugify3ConventionalExtraSlugify.Models.Blog
@model BlogSlugify3ConventionalExtraSlugify.ViewModels.Blog.BlogIndexViewModel
@{
    ViewData["Title"] = "Blog Posts";
}

<div class="container mt-5">
    <h1>@ViewBag.Title</h1>
    <ul class="list-group">
        @foreach (BlogPostModel post in Model.Posts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5 class="mb-1"><a href="@Url.Action("Article", "Blog", new { article = post.Slug })">@post.Title</a></h5>
                <small class="text-muted"><i class="fas fa-user"></i> @post.CreationDate.ToString("dd/MM/yyyy")</small>
            </li>
        }
    </ul>

    <p>Generated URL for SubscriptionManagement/ListAll: <a href="@Url.Action("ListAll", "SubscriptionManagement")" />List All</a></p>
</div>